<!-- footer start -->

<footer class="site-footer" id="footer">
  <!-- <audio id="audioElement" onerror="err()" src="https://ze-al.herokuapp.com/stream?email=rahuldtu007@gmail.com"></audio>
<style media="screen">
.onoffswitch {
  position: relative; width: 82px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 36px; padding: 0; line-height: 36px;
  border: 2px solid #CCCCCC; border-radius: 36px;
  background-color: #000;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 36px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 44px;
  border: 2px solid #CCCCCC; border-radius: 36px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #000;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
 border-color: #CCC;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}
</style>
<center>
<div class="onoffswitch">
  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" unchecked>
    <label class="onoffswitch-label" for="myonoffswitch"></label>
</div>
</center>
<p>Powered by <a href="https://ze-al.herokuapp.com/" target="_blank">ZEAL</a></p>
<p id="status" >Turn on to listen to my tunes.</p> <p>This little experiment lets anyone stream my laptop's speaker output, in realtime.</p>
<p style="line-height:1.7">If nothing is being played for more than 30 seconds, <br>then most probably I am sleeping, or in college, or you have bad internet.</p>
<p>.</p>
<p>.</p>
<p>In that case, try my soundcloud playlist. Guessed it right, I am a music buff!</p>
<br/>

<script type="text/javascript">

var player=document.getElementById('audioElement')
player.play()
player.volume = 0;
function err(e) {
  var p = document.getElementById('status')
  p.innerHTML="Sorry, I am offline."
}

document.getElementById('myonoffswitch').onchange = function() {
  if ( document.getElementById('myonoffswitch').checked === false ) {
    player.volume = 0;
    }
  else if ( document.getElementById('myonoffswitch').checked === true ) {
    player.volume = 1;
  }
}
</script>

<iframe width="70%" height="230" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/81283900/favorites&color=%23920c45&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe> -->

  <!-- <div style="margin-top: 10px; margin-bottom: 15px;">
  <div id="space-ghost-status"></div>
  <div id="space-ghost"></div>
</div> -->

  <iframe src="https://www.casset.app/" frameborder="0" height="900" width="100%"></iframe>

  <br>
  <br>
  <br>
  <br>
</footer>

<!-- footer end -->